


 * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.div1 {
    background-color: rgb(146, 126, 165);
    box-shadow: 0 0 10px rgba(24, 219, 24, 0.856);
}

#build {
    text-align: center;
    margin-bottom: 25px;
    color: beige;
    transition: transform 0.5s ease;
    display: block;
}

#build:hover {
    transform: rotate(360deg);
}

#form {
    height: 100%;
    width: 50%;
    background-color: rgb(170, 214, 200);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 25%;
    right: 25%;
    padding: 20px;
    font-weight: 900;
    border-style: groove;
    box-shadow: 0 0 10px rgba(128, 230, 133, 0.856);
}

label {
    display: block;
    margin-bottom: 8px;
    text-decoration: underline;
}

#personal {
    margin-top: 20px;
    padding-bottom: 20px;
}

select {
    font-size: 20px;
    background-color: antiquewhite;
}

input, textarea {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    font-size: 15px;
    background-color: antiquewhite;
}

fieldset {
    background-color: #f9f9f9;
    border: 2px solid #4CAF50;
    padding: 20px;
    margin-bottom: 20px;
}

legend {
    font-size: 1.2em;
    padding: 0 10px;
    font-weight: bold;
}

input:focus, select:focus, textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

input:hover, textarea:hover {
    background-color: rgb(151, 138, 138);
    color: aliceblue;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgba(221, 162, 34, 0.589);
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
}

button:hover {
    background-color: rgb(124, 131, 146);
    transform: scale(1.05);
}

#profilepic {
    font-size: 16px;
    padding-bottom: 20px;
}

/* Media Queries */


@media (max-width: 800px) {
    #form {
        width: 70%;
        left: 15%;
        right: 15%;
    }

    select, input, textarea, button {
        font-size: 18px;
    }
}


@media (max-width: 600px) {
    #form {
        width: 90%;
        left: 5%;
        right: 5%;
    }

    select, input, textarea, button {
        font-size: 16px;
    }

    button {
        font-size: 18px;
        padding: 8px;
    }
}


@media (max-width: 400px) {
    #form {
        width: 95%;
        left: 2.5%;
        right: 2.5%;
    }

    select, input, textarea, button {
        font-size: 14px;
    }

    button {
        font-size: 16px;
        padding: 6px;
    }
}
